---
siteTitle: International Humanitarian Mapathon
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include 'components/head' %}

  <body>
    {% include 'components/nav' %}

    {{ content }}

    {% include 'components/footer' %}
    {% include 'components/footer-scripts' %}
  </body>

</html>