---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <section>
    <h1>Our History</h1>
    <p>
      {{ source.about.pageContent }}
    </p>

    <ul>
      <li><a href="https://la-mapathon.github.io/website-2023" target="_blank">2023 - 6th Annual International Los Angeles Humanitarian Mapathon</a></li>
      <li><a href="https://la-mapathon.github.io/website-2022" target="_blank">2022 - 5th Annual Los Angeles Humanitarian Mapathon</a></li>
      <li><a href="https://sites.google.com/view/lamapathon/home" target="_blank">2020 - 4th Annual Los Angeles Humanitarian Mapathon</a></li>
    </ul>
  </section>
</div>