---
layout: default
---

{% if page.lang == 'en' %}
{% assign source = en_content %}
{% elsif page.lang == 'ja' %}
{% assign source = ja_content %}
{% endif %}

{% comment %} <div id="hex-group-1">
  <div id="hex-4" class="hexagon-small hexagon--orange hex-group-1a">&#x2B22;</div>
  <div id="hex-5" class="hexagon-small hexagon--orange hex-group-1b">&#x2B22;</div>
</div>

<div id="hex-group-2">
  <div id="hex-6" class="hexagon-small hexagon--orange hex-group-2a">&#x2B22;</div>
  <div id="hex-7" class="hexagon-small hexagon--orange hex-group-2b">&#x2B22;</div>
</div> {% endcomment %}

<div class="container">
  <section class="schedule__description">
    <h1>Day 1 - Humanitarian Mapping</h1>
    <p>
      We will kick off this year's event with a keynote from Mariah Tso.
    </p>
    <p>Mariah is a GIS Specialist for the Ralph J. Bunche Center and the Million Dollar Hoods Project. Mariah received
      her master’s degree in geographic information systems from the University of Redlands and her bachelor’s in
      environment, economics, and politics from Scripps College. Her research interests include critical cartography,
      indigenous methodologies, and interdisciplinary storytelling.
    </p>
    <p>
      After the keynote, each locale will host their own HOTOSM workshop and humanitarian mapping session in person.
    </p>
  </section>

  <section class="schedule__times">
    <h2>Schedule</h2>
    <p>Select your timezone: 
      <select id="timezone-selector" class="form-select form-inline"></select>
    </p>

  <table class="schedule__table">
    <tr>
      <th width="30%">Time</th>
      <th>Event</th>
    </tr>
    <tr>
      <td class="eventDatetime" data-datetime="2024-04-24T01:00Z">Tue, Apr 23, 2024, 6:00 PM</td>
      <td>Welcome: Yoh & Andy</td>
    </tr>
    <tr>
      <td class="eventDatetime" data-datetime="2024-04-24T01:15Z">Tue, Apr 23, 2024, 6:15 PM</td>
      <td>Keynote: Mariah Tso</td>
    </tr>
    <tr>
      <td class="eventDatetime" data-datetime="2024-04-24T02:00Z">Tue, Apr 23, 2024, 7:00 PM</td>
      <td>HOTOSM Mapping</td>
    </tr>
  </table>
  </section>

  <section class="schedule__locales">
    <h2>Local Events</h2>
    <p>These are the in-person events:</p>

    <h3>Los Angeles</h3>
    <p>
      <strong>MaptimeLA</strong> - 7pm @ Metro HQ (1 Gateway Plaza, Los Angeles, CA 90012)
    </p>
    <p>
      <strong>UCLA</strong>
    </p>
    <p>
      <strong>USC</strong>
    </p>
    <h3>Japan</h3>
    <p>
      <strong>Reitaku University</strong>
    </p>
    <h3>Philippines</h3>
    <p>
      <strong>University of the Philippines</strong>
    </p>
  </section>

</div>