---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">

<h1>Day 3 Schedule</h1>
<h2>International Meetup</h2>

<section>
  <p>
    Our final day will be primarily virtual, so we hope you can attend in real-time!
  </p>
  <p>
    Events will include:
    <ul>
      <li>Lightning presentations summarizing events from each region.</li>
      <li>International Breakout Rooms - Meet other mappers from across the globe, share the maps you've created and share your experience participating in the Mapathon!</li>
      <li>Vote for your favorite maps on Padlet!</li>
      <li>Awards! We'll conclude with the results from our UN Smart Mapping panel of judges, as well as a special People's Choice Award.</li>
    </ul>
  </p>
</section>

</div>

