---
layout: default
---

{% if page.lang == 'en' %}
{% assign source = en_content %}
{% elsif page.lang == 'ja' %}
{% assign source = ja_content %}
{% endif %}


<div class="container">
<section>
  <h1>Day 2 - UN Crisis Map Challenge</h1>
  <p>This year we're introducing a new component to the Mapathon, a mapping challenge!</p>
  
  <p>We're partnering with the United Nations Smart Mapping group for this challenge.  They will select a package of data for a certain region.  Participants will look at the data and select what they want to map.
    
  <p>New mappers are encouraged to participate! Workshops will be held Locally.</p>
</section>

<section>
  <h2>Submitting Your Map!</h2>
  <p>Submissions will be on Padlet.  The deadline will be at ___ time on Day 3.</p>
</section>

<section>
  <h2>Local Events</h2>
  <p>All Day 2 events will be local:</p>

  <p>
    <strong>MaptimeLA</strong> - 6pm @ Metro HQ (1 Gateway Plaza, Los Angeles, CA 90012)
  </p>
  <p>
    <strong>UCLA</strong>
  </p>
  <p>
    <strong>USC</strong>
  </p>
  <p>
    <strong>Reitaku University</strong>
  </p>
  <p>
    <strong>University of the Philippines</strong>
  </p>
</section>

</div>