---
layout: default
---

{% if page.lang == 'en' %}
{% assign source = en_content %}
{% elsif page.lang == 'ja' %}
{% assign source = ja_content %}
{% endif %}

<div class="container">

  <h1>Day 1 Schedule</h1>

  <h2>Humanitarian Mapping</h2>


  <section class="schedule__description">
    <p>
      We will kick off this year's event with a keynote from Mariah Tso.
    </p>
    <p>Mariah is a GIS Specialist for the Ralph J. Bunche Center and the Million Dollar Hoods Project. Mariah received
      her master’s degree in geographic information systems from the University of Redlands and her bachelor’s in
      environment, economics, and politics from Scripps College. Her research interests include critical cartography,
      indigenous methodologies, and interdisciplinary storytelling.
    </p>
    <p>
      After the keynote, each locale will host their own HOTOSM workshop and humanitarian mapping session in person.
    </p>
  </section>

  <section class="schedule__times">
    <p>Select Timezone</p>
    <p>
      Welcome: Yoh & Andy
    </p>
    <p>
      Keynote: Mariah Tso
    </p>
    <p>
      HOTOSM Mapping
    </p>
  </section>

  <section class="schedule__locales">
    <p>These are the in-person events:</p>
    <p>
      <strong>MaptimeLA</strong> - 7pm @ Metro HQ (1 Gateway Plaza, Los Angeles, CA 90012)
    </p>
    <p>
      <strong>UCLA</strong>
    </p>
    <p>
      <strong>USC</strong>
    </p>
    <p>
      <strong>Reitaku University</strong>
    </p>
    <p>
      <strong>University of the Philippines</strong>
    </p>
  </section>

</div>