---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">

<section>
  <h1>Day 3 - International Meetup</h1>
  <p>
    Our final day will be primarily virtual, so we hope you can attend in real-time!
  </p>
  <p>
    Events will include:
    <ul>
      <li>Lightning presentations summarizing events from each region.</li>
      <li>International Breakout Rooms - Meet other mappers from across the globe, share the maps you've created and share your experience participating in the Mapathon!</li>
      <li>Vote for your favorite maps on Padlet!</li>
      <li>Awards! We'll conclude with the results from our UN Smart Mapping panel of judges, as well as a special People's Choice Award.</li>
    </ul>
  </p>
</section>
<section>
  <h2>Schedule</h2>
  <p>Select your timezone: 
    <select id="timezone-selector" class="form-select form-inline"></select>
  </p>

<table class="schedule__table">
  <tr>
    <th width="30%">Time</th>
    <th>Event</th>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T01:00Z">Thu, Apr 25, 2024, 6:00 PM</td>
    <td>Lightning presentations summarizing events from each region.</td>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T01:15Z">Thu, Apr 25, 2024, 6:15 PM</td>
    <td>International Breakout Rooms - Meet other mappers from across the globe, share the maps you've created and share your experience participating in the Mapathon!</td>
  </tr>
  <tr>
    <td class="eventDatetime" data-datetime="2024-04-26T02:00Z">Thu, Apr 25, 2024, 7:00 PM</td>
    <td>Awards! We'll conclude with the results from our UN Smart Mapping panel of judges, as well as a special People's Choice Award.</td>
  </tr>
</table>
</section>

</div>

