---
layout: default
---

{% if page.lang == 'en' %}
  {% assign source = en_content %}
{% elsif page.lang == 'ja' %}
  {% assign source = ja_content %}
{% endif %}

<div class="container">
  <section>
    <h1>Meet the Team!</h1>

    
    <h2>Japan</h2>

    <p><strong>Reitaku University</strong> - Yoh Kawano</p>

    <h2>Mexico</h2>

    <p><strong>CentroGeo</strong> - Iskar Waluyo</p>

    <h2>Philippines</h2>

    <p>University of the Philippines, Manila</p>

    <h2>United States</h2>

    <p><strong>MaptimeLA</strong> - Nina Kin, Omar Ureta</p>
    <p><strong>University of California, Los Angeles</strong> - Zhiyuan Yao, Maggie Tarmey</p>
    <p><strong>University of Hawaii, Manoa</strong> - Suwan</p>
    <p><strong>University of Southern California</strong> - Andy Rutkowski, Jennifer Swift, Katherine Lester</p>

  </section>
</div>